.panel-primary > .panel-heading {
    background-color: #20c997 !important;
		border-color: #20c997;
}
.panel-primary{
		border-color: #20c997;
}
.btn.btn-primary{
	background:#20c997 !important;
	border:none;
}
.btn-primary:not(:hover) {
	background-color: #20c997 !important;
}


/* warna button Edit, View (saat di-hover)  */
.btn-link{
	color:#20c997 !important;
	border:none;
}
/* warna button Edit, View(keadaan default)  */
.btn-link:not(:hover) {
	color: #20c997 !important;
}