[data-cellid="top_c1"][data-page=".global_login"][data-cellid="top_c1"][data-page=".global_login"][data-cellid="top_c1"][data-page=".global_login"] {
  padding-right: -100px;
}
[data-page=".global_login"][data-itemid="text"] {
  font-weight: bold;
  font-size: 24px;
}
[data-page=".global_login"][data-itemid="page_image_ash8f23hr"] {
  background-color: #c9c9c9;
}

/* Put  your custom CSS code here */

[data-cellid="top_c1"][data-page=".global_login"][data-cellid="top_c1"][data-page=".global_login"][data-cellid="top_c1"][data-page=".global_login"] {
  width:400px;
}
.r-mainform
{
    
}/* Put  your custom CSS code here */

[data-page=".global_login"][data-itemid="page_image_ash8f23hr"] {
  height:100%;
  background-size:cover;
}

