[data-cellid="grid_headcell_m"][data-page=".global_admin_rights_list"][data-cellid="grid_headcell_m"][data-page=".global_admin_rights_list"][data-cellid="grid_headcell_m"][data-page=".global_admin_rights_list"] {
  white-space: nowrap;
}
[data-page=".global_admin_rights_list"][data-itemid="menu"] > .nav > * > a {
  color: #000000;
}
[data-page=".global_admin_rights_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


