[data-page="code_list_kpl_edit"][data-itemid="edit_header"] {
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="code_list_kpl_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


