[data-cellid="grid_footcell_field"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field"][data-page="code_list_doc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field1"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field1"][data-page="code_list_doc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field2"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field2"][data-page="code_list_doc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field3"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field3"][data-page="code_list_doc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field4"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field4"][data-page="code_list_doc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field5"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field5"][data-page="code_list_doc_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field6"][data-page="code_list_doc_print"][data-cellid="grid_footcell_field6"][data-page="code_list_doc_print"] {
  white-space: nowrap;
}
[data-page="code_list_doc_print"][data-itemid="print_header"] {
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="code_list_doc_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


