[data-page="code_list_status_view"][data-itemid="view_header"] {
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="code_list_status_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


