[data-page="dashboard_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.panel-heading{
  display:none;
}
.panel-body{
  padding:0px !important;
}
.panel-primary {
border-color: white !important;
}
.panel {
margin-bottom: 0px !important;
  border: 0px !important;
} 
