[data-cellid="grid_footcell_field"][data-page="t_deal_list"][data-cellid="grid_footcell_field"][data-page="t_deal_list"][data-cellid="grid_footcell_field"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_deal_list"][data-cellid="grid_footcell_field1"][data-page="t_deal_list"][data-cellid="grid_footcell_field1"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_deal_list"][data-cellid="grid_footcell_field3"][data-page="t_deal_list"][data-cellid="grid_footcell_field3"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="t_deal_list"][data-cellid="grid_footcell_field5"][data-page="t_deal_list"][data-cellid="grid_footcell_field5"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="t_deal_list"][data-cellid="grid_footcell_field8"][data-page="t_deal_list"][data-cellid="grid_footcell_field8"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="t_deal_list"][data-cellid="grid_footcell_field9"][data-page="t_deal_list"][data-cellid="grid_footcell_field9"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="t_deal_list"][data-cellid="grid_footcell_field10"][data-page="t_deal_list"][data-cellid="grid_footcell_field10"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="t_deal_list"][data-cellid="grid_footcell_field13"][data-page="t_deal_list"][data-cellid="grid_footcell_field13"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="t_deal_list"][data-cellid="grid_footcell_field14"][data-page="t_deal_list"][data-cellid="grid_footcell_field14"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="t_deal_list"][data-cellid="grid_footcell_field15"][data-page="t_deal_list"][data-cellid="grid_footcell_field15"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="t_deal_list"][data-cellid="grid_footcell_field16"][data-page="t_deal_list"][data-cellid="grid_footcell_field16"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="t_deal_list"][data-cellid="grid_headcell_icons"][data-page="t_deal_list"][data-cellid="grid_headcell_icons"][data-page="t_deal_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="t_deal_list"][data-cellid="grid_cell_icons"][data-page="t_deal_list"][data-cellid="grid_cell_icons"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="t_deal_list"][data-cellid="grid_headcell_checkbox"][data-page="t_deal_list"][data-cellid="grid_headcell_checkbox"][data-page="t_deal_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_field17"][data-page="t_deal_list"][data-cellid="grid_headcell_field17"][data-page="t_deal_list"][data-cellid="grid_headcell_field17"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field20"][data-page="t_deal_list"][data-cellid="grid_headcell_field20"][data-page="t_deal_list"][data-cellid="grid_headcell_field20"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field23"][data-page="t_deal_list"][data-cellid="grid_headcell_field23"][data-page="t_deal_list"][data-cellid="grid_headcell_field23"][data-page="t_deal_list"] {
  white-space: nowrap;
}
[data-page="t_deal_list"][data-itemid="add"] > .btn {
  background-color: #20c997;
  background-image: none;
  text-shadow: none;
}
[data-page="t_deal_list"][data-itemid="text"] {
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="t_deal_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


