[data-cellid="grid_footcell_field"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field1"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field1"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field2"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field2"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field3"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field3"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field4"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field4"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field5"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field5"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field6"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field6"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field7"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field7"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field8"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field8"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field9"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field9"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field10"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field10"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field11"][data-page="t_dokumentasi_masterlist"][data-cellid="grid_footcell_field11"][data-page="t_dokumentasi_masterlist"] {
  white-space: nowrap;
}
[data-page="t_dokumentasi_masterlist"][data-itemid="back_master"] > .btn {
  background-color: #ffffff;
  background-image: none;
  text-shadow: none;
  color: #20c997;
}
[data-page="t_dokumentasi_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


