[data-cellid="grid_footcell_field"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field1"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field1"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field2"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field2"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field3"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field3"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field4"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field4"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field5"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field5"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field6"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field6"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field7"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field7"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field8"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field8"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field9"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field9"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field10"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field10"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field11"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field11"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field12"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field12"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field13"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field13"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field14"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field14"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field15"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field15"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field16"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field16"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field17"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field17"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field17"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field18"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field18"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field18"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field19"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field19"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field19"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field20"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field20"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field20"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field21"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field21"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field21"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field22"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field22"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field22"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field23"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field23"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field23"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field24"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field24"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field24"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field25"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field25"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field25"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field26"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field26"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field26"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field27"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field27"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field27"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field28"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field28"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field28"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field29"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field29"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field29"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field30"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field30"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field30"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field31"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field31"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field31"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field32"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field32"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field32"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field33"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field33"][data-page="t_dokumentasi_print"][data-cellid="grid_footcell_field33"][data-page="t_dokumentasi_print"] {
  white-space: nowrap;
}
[data-page="t_dokumentasi_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


