[data-cellid="grid_footcell_field"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field"][data-page="t_dok_detail_attach_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field1"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field1"][data-page="t_dok_detail_attach_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field2"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field2"][data-page="t_dok_detail_attach_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field3"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field3"][data-page="t_dok_detail_attach_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field4"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field4"][data-page="t_dok_detail_attach_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field5"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field5"][data-page="t_dok_detail_attach_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field6"][data-page="t_dok_detail_attach_print"][data-cellid="grid_footcell_field6"][data-page="t_dok_detail_attach_print"] {
  white-space: nowrap;
}
[data-page="t_dok_detail_attach_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


