[data-cellid="grid_footcell_field"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field6"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field6"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field7"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field7"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field8"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field8"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field9"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field9"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field10"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field10"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field11"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field11"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field12"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field12"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field13"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field13"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field14"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field14"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field15"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field15"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field16"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field16"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_icons"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_icons"][data-page="t_input_awal_new_pengukuran_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_cell_icons"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_cell_icons"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_checkbox"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_checkbox"][data-page="t_input_awal_new_pengukuran_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_field19"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_field19"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_field19"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field22"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_field22"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_field22"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field25"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_field25"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_field25"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field28"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_field28"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_headcell_field28"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field2"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field2"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field3"][data-page="t_input_awal_new_pengukuran_list"][data-cellid="grid_footcell_field3"][data-page="t_input_awal_new_pengukuran_list"] {
  white-space: nowrap;
}
[data-page="t_input_awal_new_pengukuran_list"][data-itemid="add"] > .btn {
  background-color: #20c997;
  background-image: none;
  text-shadow: none;
}
[data-page="t_input_awal_new_pengukuran_list"][data-itemid="text"] {
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="t_input_awal_new_pengukuran_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


