[data-cellid="grid_footcell_field"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field6"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field6"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field7"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field7"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field8"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field8"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field9"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field9"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field10"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field10"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field11"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field11"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field12"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field12"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field28"][data-page="t_input_awal_report1_list"][data-cellid="grid_headcell_field28"][data-page="t_input_awal_report1_list"][data-cellid="grid_headcell_field28"][data-page="t_input_awal_report1_list"] {
  width: 30px;
}
[data-cellid="grid_footcell_field2"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field2"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field2"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field3"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field3"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field4"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field4"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field5"][data-page="t_input_awal_report1_list"][data-cellid="grid_cell_field5"][data-page="t_input_awal_report1_list"][data-cellid="grid_cell_field5"][data-page="t_input_awal_report1_list"] {
  white-space: normal;
}
[data-cellid="grid_footcell_field5"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field5"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field5"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field13"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field13"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field14"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field14"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field15"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field15"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field16"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field16"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field17"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field17"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field17"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field18"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field18"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field18"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field19"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field19"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field19"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field20"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field20"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field20"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field21"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field21"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field21"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field22"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field22"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field22"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field23"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field23"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field23"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field24"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field24"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field24"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field25"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field25"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field25"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field26"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field26"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field26"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field27"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field27"][data-page="t_input_awal_report1_list"][data-cellid="grid_footcell_field27"][data-page="t_input_awal_report1_list"] {
  white-space: nowrap;
}
[data-page="t_input_awal_report1_list"][data-itemid="grid_checkbox_head"] {
  padding-bottom: 30px;
}
[data-page="t_input_awal_report1_list"][data-itemid="simple_grid_field"] {
  padding-bottom: 30px;
}
[data-page="t_input_awal_report1_list"][data-itemid="simple_grid_field18"] {
  padding-bottom: 30px;
}
[data-page="t_input_awal_report1_list"][data-itemid="simple_grid_field24"] {
  padding-bottom: 30px;
}
[data-page="t_input_awal_report1_list"][data-itemid="grid_field_label2"] {
  padding-bottom: 30px;
}
[data-page="t_input_awal_report1_list"][data-itemid="text"] {
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="t_input_awal_report1_list"][data-itemid="grid_field_label1"] {
  padding-bottom: 30px;
}
[data-page="t_input_awal_report1_list"][data-itemid="grid_field_label"] {
  padding-bottom: 30px;
}
[data-page="t_input_awal_report1_list"][data-itemid="grid_field_label24"] {
  padding-bottom: 30px;
}
[data-page="t_input_awal_report1_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


