[data-cellid="grid_footcell_field"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field6"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field6"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field7"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field7"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field8"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field8"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field9"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field9"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field10"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field10"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field11"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field11"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field12"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field12"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field2"][data-page="t_input_awal_new_print"][data-cellid="grid_footcell_field2"][data-page="t_input_awal_new_print"] {
  white-space: nowrap;
}
[data-page="t_input_awal_new_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


