[data-page="t_input_awal_new_pengukuran_edit"][data-itemid="edit_header"] {
  padding-top: 20px;
}
[data-page="t_input_awal_new_pengukuran_edit"][data-itemid="edit_save"] > .btn {
  background-color: #20c997;
  background-image: none;
  text-shadow: none;
}
[data-page="t_input_awal_new_pengukuran_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


