[data-page="t_input_awal_report_report"][data-itemid="page_summary_count"] {
  font-weight: bold;
}
[data-page="t_input_awal_report_report"][data-itemid="text"] {
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="t_input_awal_report_report"][data-itemid="text1"] {
  font-weight: bold;
}
[data-page="t_input_awal_report_report"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


