[data-cellid="grid_footcell_field"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field12"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field12"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field13"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field13"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field14"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field14"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field15"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field15"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field16"][data-page="t_input_awal_dok_list"][data-cellid="grid_footcell_field16"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="t_input_awal_dok_list"][data-cellid="grid_headcell_icons"][data-page="t_input_awal_dok_list"][data-cellid="grid_headcell_icons"][data-page="t_input_awal_dok_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="t_input_awal_dok_list"][data-cellid="grid_cell_icons"][data-page="t_input_awal_dok_list"][data-cellid="grid_cell_icons"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field28"][data-page="t_input_awal_dok_list"][data-cellid="grid_headcell_field28"][data-page="t_input_awal_dok_list"][data-cellid="grid_headcell_field28"][data-page="t_input_awal_dok_list"] {
  white-space: nowrap;
}
[data-page="t_input_awal_dok_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


