[data-cellid="grid_footcell_field"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field1"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field2"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field2"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field3"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field3"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field4"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field4"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field5"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field5"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field6"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field6"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field7"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field7"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field8"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field8"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field9"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_footcell_field9"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_headcell_icons"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_headcell_icons"][data-page="t_input_awal_dok_masterprint"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_cell_icons"][data-page="t_input_awal_dok_masterprint"][data-cellid="grid_cell_icons"][data-page="t_input_awal_dok_masterprint"] {
  white-space: nowrap;
}
[data-page="t_input_awal_dok_masterprint"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


