[data-page="t_input_awal_edit"][data-itemid="edit_header"] {
  padding-top: 20px;
}
[data-page="t_input_awal_edit"][data-itemid="edit_save"] > .btn {
  background-color: #20c997;
  background-image: none;
  text-shadow: none;
}


