[data-page="t_pengukuran_percil_chart_chart"][data-itemid="chart"] {
  width: 90%;
  height: 530px;
}
[data-page="t_pengukuran_percil_chart_chart"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


