[data-cellid="footer_c1"][data-page="t_pengukuran_percil_2_export"][data-cellid="footer_c1"][data-page="t_pengukuran_percil_2_export"][data-cellid="footer_c1"][data-page="t_pengukuran_percil_2_export"] {
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page="t_pengukuran_percil_2_export"][data-cellid="footer_c2"][data-page="t_pengukuran_percil_2_export"][data-cellid="footer_c2"][data-page="t_pengukuran_percil_2_export"] {
  width: 66.66666667%;
}
[data-page="t_pengukuran_percil_2_export"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


