[data-cellid="grid_footcell_field"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field1"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field1"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field2"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field2"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field3"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field3"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field4"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field4"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field5"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field5"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field6"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_footcell_field6"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_headcell_checkbox"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_headcell_checkbox"][data-page="t_pengukuran_batas_view_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_headcell_icons"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_headcell_icons"][data-page="t_pengukuran_batas_view_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_cell_icons"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_cell_icons"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons1"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_headcell_icons1"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_headcell_icons1"][data-page="t_pengukuran_batas_view_list"] {
  width: 30px;
}
[data-cellid="grid_cell_field7"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_cell_field7"][data-page="t_pengukuran_batas_view_list"][data-cellid="grid_cell_field7"][data-page="t_pengukuran_batas_view_list"] {
  white-space: nowrap;
}
[data-page="t_pengukuran_batas_view_list"][data-itemid="map"] {
  width: 100%;
  height: 450px;
}
[data-page="t_pengukuran_batas_view_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


