[data-page="t_regis_detail_backdate_search"][data-itemid="search_header"] {
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="t_regis_detail_backdate_search"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


