[data-page="test_add"][data-itemid="add_header"] {
  padding-top: 20px;
}
[data-page="test_add"][data-itemid="add_save"] > .btn {
  background-color: #20c997;
  background-image: none;
  text-shadow: none;
}
[data-page="test_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


