[data-cellid="grid_c5"][data-page="test_view"][data-cellid="grid_c5"][data-page="test_view"][data-cellid="grid_c5"][data-page="test_view"] {
  width: 100%;
}
[data-page="test_view"][data-itemid="view_header"] {
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-page="test_view"][data-itemid="integrated_edit_field16"][data-page="test_view"][data-itemid="integrated_edit_field16"][data-page="test_view"][data-itemid="integrated_edit_field16"][data-page="test_view"][data-itemid="integrated_edit_field16"] {
  width: 100%;
}
[data-page="test_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


