<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
	<link href="images/fav.ico" rel="shortcut icon" type="image/x-icon">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="250px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" data-page="t_dokumentasi_view" >{$pagetitlelabel t_dokumentasi view}</h2>
		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class="r-align-left r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_lahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_lahan}  r-vertical-field" data-fieldname="id_lahan" data-signal-error-for="id_lahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="id_lahan" data-fieldname="id_lahan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_id_lahan}">
		
		{BEGIN id_lahan_label}{$label t_dokumentasi id_lahan }{END id_lahan_label}
	</label>
	<div class="" >
		{$id_lahan_value}	</div>

		</div>
		
</div>


{END id_lahan_fieldblock}
											
{BEGIN nama_lahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_lahan}  r-vertical-field" data-fieldname="nama_lahan" data-signal-error-for="nama_lahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="nama_lahan" data-fieldname="nama_lahan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_nama_lahan}">
		
		{BEGIN nama_lahan_label}{$label t_dokumentasi nama_lahan }{END nama_lahan_label}
	</label>
	<div class="" >
		{$nama_lahan_value}	</div>

		</div>
		
</div>


{END nama_lahan_fieldblock}
											
{BEGIN pic_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pic}  r-vertical-field" data-fieldname="pic" data-signal-error-for="pic{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="pic" data-fieldname="pic" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_pic}">
		
		{BEGIN pic_label}{$label t_dokumentasi pic }{END pic_label}
	</label>
	<div class="" >
		{$pic_value}	</div>

		</div>
		
</div>


{END pic_fieldblock}
											
{BEGIN status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-vertical-field" data-fieldname="status" data-signal-error-for="status{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="status" data-fieldname="status" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_status}">
		
		{BEGIN status_label}{$label t_dokumentasi status }{END status_label}
	</label>
	<div class="" >
		{$status_value}	</div>

		</div>
		
</div>


{END status_fieldblock}
											
{BEGIN close_by_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_by}  r-vertical-field" data-fieldname="close_by" data-signal-error-for="close_by{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="close_by" data-fieldname="close_by" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_close_by}">
		
		{BEGIN close_by_label}{$label t_dokumentasi close_by }{END close_by_label}
	</label>
	<div class="" >
		{$close_by_value}	</div>

		</div>
		
</div>


{END close_by_fieldblock}
											
{BEGIN close_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_date}  r-vertical-field" data-fieldname="close_date" data-signal-error-for="close_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="close_date" data-fieldname="close_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_close_date}">
		
		{BEGIN close_date_label}{$label t_dokumentasi close_date }{END close_date_label}
	</label>
	<div class="" >
		{$close_date_value}	</div>

		</div>
		
</div>


{END close_date_fieldblock}
											
{BEGIN ukuran_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ukuran}  r-vertical-field" data-fieldname="ukuran" data-signal-error-for="ukuran{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="ukuran" data-fieldname="ukuran" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ukuran}">
		
		{BEGIN ukuran_label}{$label t_dokumentasi ukuran }{END ukuran_label}
	</label>
	<div class="" >
		{$ukuran_value}	</div>

		</div>
		
</div>


{END ukuran_fieldblock}
											
{BEGIN harga_bangunan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_harga_bangunan}  r-vertical-field" data-fieldname="harga_bangunan" data-signal-error-for="harga_bangunan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="harga_bangunan" data-fieldname="harga_bangunan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_harga_bangunan}">
		
		{BEGIN harga_bangunan_label}{$label t_dokumentasi harga_bangunan }{END harga_bangunan_label}
	</label>
	<div class="" >
		{$harga_bangunan_value}	</div>

		</div>
		
</div>


{END harga_bangunan_fieldblock}
											
{BEGIN harga_per_m2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_harga_per_m2}  r-vertical-field" data-fieldname="harga_per_m2" data-signal-error-for="harga_per_m2{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="harga_per_m2" data-fieldname="harga_per_m2" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_harga_per_m2}">
		
		{BEGIN harga_per_m2_label}{$label t_dokumentasi harga_per_m2 }{END harga_per_m2_label}
	</label>
	<div class="" >
		{$harga_per_m2_value}	</div>

		</div>
		
</div>


{END harga_per_m2_fieldblock}
											
{BEGIN total_biaya_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_total_biaya}  r-vertical-field" data-fieldname="total_biaya" data-signal-error-for="total_biaya{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="total_biaya" data-fieldname="total_biaya" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_total_biaya}">
		
		{BEGIN total_biaya_label}{$label t_dokumentasi total_biaya }{END total_biaya_label}
	</label>
	<div class="" >
		{$total_biaya_value}	</div>

		</div>
		
</div>


{END total_biaya_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class="r-align-left r-ori-vert"
	
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN blok_lokasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_blok_lokasi}  r-vertical-field" data-fieldname="blok_lokasi" data-signal-error-for="blok_lokasi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="blok_lokasi" data-fieldname="blok_lokasi" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_blok_lokasi}">
		
		{BEGIN blok_lokasi_label}{$label t_dokumentasi blok_lokasi }{END blok_lokasi_label}
	</label>
	<div class="" >
		{$blok_lokasi_value}	</div>

		</div>
		
</div>


{END blok_lokasi_fieldblock}
											
{BEGIN nama_lokasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_lokasi}  r-vertical-field" data-fieldname="nama_lokasi" data-signal-error-for="nama_lokasi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="nama_lokasi" data-fieldname="nama_lokasi" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_nama_lokasi}">
		
		{BEGIN nama_lokasi_label}{$label t_dokumentasi nama_lokasi }{END nama_lokasi_label}
	</label>
	<div class="" >
		{$nama_lokasi_value}	</div>

		</div>
		
</div>


{END nama_lokasi_fieldblock}
											
{BEGIN keperluan_lahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keperluan_lahan}  r-vertical-field" data-fieldname="keperluan_lahan" data-signal-error-for="keperluan_lahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="keperluan_lahan" data-fieldname="keperluan_lahan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keperluan_lahan}">
		
		{BEGIN keperluan_lahan_label}{$label t_dokumentasi keperluan_lahan }{END keperluan_lahan_label}
	</label>
	<div class="" >
		{$keperluan_lahan_value}	</div>

		</div>
		
</div>


{END keperluan_lahan_fieldblock}
											
{BEGIN batas_utara_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_batas_utara}  r-vertical-field" data-fieldname="batas_utara" data-signal-error-for="batas_utara{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="batas_utara" data-fieldname="batas_utara" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_batas_utara}">
		
		{BEGIN batas_utara_label}{$label t_dokumentasi batas_utara }{END batas_utara_label}
	</label>
	<div class="" >
		{$batas_utara_value}	</div>

		</div>
		
</div>


{END batas_utara_fieldblock}
											
{BEGIN batas_selatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_batas_selatan}  r-vertical-field" data-fieldname="batas_selatan" data-signal-error-for="batas_selatan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="batas_selatan" data-fieldname="batas_selatan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_batas_selatan}">
		
		{BEGIN batas_selatan_label}{$label t_dokumentasi batas_selatan }{END batas_selatan_label}
	</label>
	<div class="" >
		{$batas_selatan_value}	</div>

		</div>
		
</div>


{END batas_selatan_fieldblock}
											
{BEGIN batas_barat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_batas_barat}  r-vertical-field" data-fieldname="batas_barat" data-signal-error-for="batas_barat{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="batas_barat" data-fieldname="batas_barat" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_batas_barat}">
		
		{BEGIN batas_barat_label}{$label t_dokumentasi batas_barat }{END batas_barat_label}
	</label>
	<div class="" >
		{$batas_barat_value}	</div>

		</div>
		
</div>


{END batas_barat_fieldblock}
											
{BEGIN batas_timur_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_batas_timur}  r-vertical-field" data-fieldname="batas_timur" data-signal-error-for="batas_timur{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="batas_timur" data-fieldname="batas_timur" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_batas_timur}">
		
		{BEGIN batas_timur_label}{$label t_dokumentasi batas_timur }{END batas_timur_label}
	</label>
	<div class="" >
		{$batas_timur_value}	</div>

		</div>
		
</div>


{END batas_timur_fieldblock}
											
{BEGIN tipe_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tipe}  r-vertical-field" data-fieldname="tipe" data-signal-error-for="tipe{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="tipe" data-fieldname="tipe" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_tipe}">
		
		{BEGIN tipe_label}{$label t_dokumentasi tipe }{END tipe_label}
	</label>
	<div class="" >
		{$tipe_value}	</div>

		</div>
		
</div>


{END tipe_fieldblock}
											
{BEGIN dp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dp}  r-vertical-field" data-fieldname="dp" data-signal-error-for="dp{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="dp" data-fieldname="dp" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_dp}">
		
		{BEGIN dp_label}{$label t_dokumentasi dp }{END dp_label}
	</label>
	<div class="" >
		{$dp_value}	</div>

		</div>
		
</div>


{END dp_fieldblock}
											
{BEGIN sisa_pembayaran_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sisa_pembayaran}  r-vertical-field" data-fieldname="sisa_pembayaran" data-signal-error-for="sisa_pembayaran{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="sisa_pembayaran" data-fieldname="sisa_pembayaran" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sisa_pembayaran}">
		
		{BEGIN sisa_pembayaran_label}{$label t_dokumentasi sisa_pembayaran }{END sisa_pembayaran_label}
	</label>
	<div class="" >
		{$sisa_pembayaran_value}	</div>

		</div>
		
</div>


{END sisa_pembayaran_fieldblock}
											
{BEGIN biaya_admin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya_admin}  r-vertical-field" data-fieldname="biaya_admin" data-signal-error-for="biaya_admin{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="biaya_admin" data-fieldname="biaya_admin" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_biaya_admin}">
		
		{BEGIN biaya_admin_label}{$label t_dokumentasi biaya_admin }{END biaya_admin_label}
	</label>
	<div class="" >
		{$biaya_admin_value}	</div>

		</div>
		
</div>


{END biaya_admin_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN start_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date}  r-vertical-field" data-fieldname="start_date" data-signal-error-for="start_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="start_date" data-fieldname="start_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_start_date}">
		
		{BEGIN start_date_label}{$label t_dokumentasi start_date }{END start_date_label}
	</label>
	<div class="" >
		{$start_date_value}	</div>

		</div>
		
</div>


{END start_date_fieldblock}
											
{BEGIN due_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_due_date}  r-vertical-field" data-fieldname="due_date" data-signal-error-for="due_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="due_date" data-fieldname="due_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_due_date}">
		
		{BEGIN due_date_label}{$label t_dokumentasi due_date }{END due_date_label}
	</label>
	<div class="" >
		{$due_date_value}	</div>

		</div>
		
</div>


{END due_date_fieldblock}
											
{BEGIN keterangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan}  r-vertical-field" data-fieldname="keterangan" data-signal-error-for="keterangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="keterangan" data-fieldname="keterangan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keterangan}">
		
		{BEGIN keterangan_label}{$label t_dokumentasi keterangan }{END keterangan_label}
	</label>
	<div class="" >
		{$keterangan_value}	</div>

		</div>
		
</div>


{END keterangan_fieldblock}
											
{BEGIN status_lahan_pelepasan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status_lahan_pelepasan}  r-vertical-field" data-fieldname="status_lahan_pelepasan" data-signal-error-for="status_lahan_pelepasan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="status_lahan_pelepasan" data-fieldname="status_lahan_pelepasan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_status_lahan_pelepasan}">
		
		{BEGIN status_lahan_pelepasan_label}{$label t_dokumentasi status_lahan_pelepasan }{END status_lahan_pelepasan_label}
	</label>
	<div class="" >
		{$status_lahan_pelepasan_value}	</div>

		</div>
		
</div>


{END status_lahan_pelepasan_fieldblock}
											
{BEGIN created_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_date}  r-vertical-field" data-fieldname="created_date" data-signal-error-for="created_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="created_date" data-fieldname="created_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_created_date}">
		
		{BEGIN created_date_label}{$label t_dokumentasi created_date }{END created_date_label}
	</label>
	<div class="" >
		{$created_date_value}	</div>

		</div>
		
</div>


{END created_date_fieldblock}
											
{BEGIN created_by_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_by}  r-vertical-field" data-fieldname="created_by" data-signal-error-for="created_by{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="created_by" data-fieldname="created_by" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_created_by}">
		
		{BEGIN created_by_label}{$label t_dokumentasi created_by }{END created_by_label}
	</label>
	<div class="" >
		{$created_by_value}	</div>

		</div>
		
</div>


{END created_by_fieldblock}
											
{BEGIN updated_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_date}  r-vertical-field" data-fieldname="updated_date" data-signal-error-for="updated_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="updated_date" data-fieldname="updated_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_updated_date}">
		
		{BEGIN updated_date_label}{$label t_dokumentasi updated_date }{END updated_date_label}
	</label>
	<div class="" >
		{$updated_date_value}	</div>

		</div>
		
</div>


{END updated_date_fieldblock}
											
{BEGIN updated_by_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_by}  r-vertical-field" data-fieldname="updated_by" data-signal-error-for="updated_by{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="updated_by" data-fieldname="updated_by" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_updated_by}">
		
		{BEGIN updated_by_label}{$label t_dokumentasi updated_by }{END updated_by_label}
	</label>
	<div class="" >
		{$updated_by_value}	</div>

		</div>
		
</div>


{END updated_by_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN keterangan_input_awal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_input_awal}  r-vertical-field" data-fieldname="keterangan_input_awal" data-signal-error-for="keterangan_input_awal{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="keterangan_input_awal" data-fieldname="keterangan_input_awal" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keterangan_input_awal}">
		
		{BEGIN keterangan_input_awal_label}{$label t_dokumentasi keterangan_input_awal }{END keterangan_input_awal_label}
	</label>
	<div class="" >
		{$keterangan_input_awal_value}	</div>

		</div>
		
</div>


{END keterangan_input_awal_fieldblock}
	
								</td>
			{END cellblock_grid_c}
			 
																

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN keterangan_pengukuran_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_pengukuran}  r-vertical-field" data-fieldname="keterangan_pengukuran" data-signal-error-for="keterangan_pengukuran{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="keterangan_pengukuran" data-fieldname="keterangan_pengukuran" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keterangan_pengukuran}">
		
		{BEGIN keterangan_pengukuran_label}{$label t_dokumentasi keterangan_pengukuran }{END keterangan_pengukuran_label}
	</label>
	<div class="" >
		{$keterangan_pengukuran_value}	</div>

		</div>
		
</div>


{END keterangan_pengukuran_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
			 
																

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN keterangan_negosiasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_negosiasi}  r-vertical-field" data-fieldname="keterangan_negosiasi" data-signal-error-for="keterangan_negosiasi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="keterangan_negosiasi" data-fieldname="keterangan_negosiasi" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keterangan_negosiasi}">
		
		{BEGIN keterangan_negosiasi_label}{$label t_dokumentasi keterangan_negosiasi }{END keterangan_negosiasi_label}
	</label>
	<div class="" >
		{$keterangan_negosiasi_value}	</div>

		</div>
		
</div>


{END keterangan_negosiasi_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN keterangan_deal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_deal}  r-vertical-field" data-fieldname="keterangan_deal" data-signal-error-for="keterangan_deal{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="keterangan_deal" data-fieldname="keterangan_deal" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keterangan_deal}">
		
		{BEGIN keterangan_deal_label}{$label t_dokumentasi keterangan_deal }{END keterangan_deal_label}
	</label>
	<div class="" >
		{$keterangan_deal_value}	</div>

		</div>
		
</div>


{END keterangan_deal_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
			 
																

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN keterangan_perm_dana_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_perm_dana}  r-vertical-field" data-fieldname="keterangan_perm_dana" data-signal-error-for="keterangan_perm_dana{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="keterangan_perm_dana" data-fieldname="keterangan_perm_dana" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keterangan_perm_dana}">
		
		{BEGIN keterangan_perm_dana_label}{$label t_dokumentasi keterangan_perm_dana }{END keterangan_perm_dana_label}
	</label>
	<div class="" >
		{$keterangan_perm_dana_value}	</div>

		</div>
		
</div>


{END keterangan_perm_dana_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
			 
		
							

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
																</tbody></table>
				<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Lampiran Dokumentasi				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Input Awal				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
					Pengukuran				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section3{$pageid}">
					Negosiasi				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section4{$pageid}">
					Permintaan Dana				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section5{$pageid}">
					Pembayaran				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section6{$pageid}">
					Registrasi				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												
{BEGIN details_t_dok_detail_attach}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_dok_detail_attach}			
							<span>
					{$detailslButtons_t_dok_detail_attach}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_dok_detail_attach}
		</div>
	</div>
</div>
{END details_t_dok_detail_attach}
	
				{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												
{BEGIN details_t_input_awal_dok}
<div data-itemtype="details_preview" data-itemid="details_preview1" {$item_details_preview1} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_input_awal_dok}			
							<span>
					{$detailslButtons_t_input_awal_dok}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_input_awal_dok}
		</div>
	</div>
</div>
{END details_t_input_awal_dok}
	
				{END section1_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												
{BEGIN details_t_pengukuran_percil_dok}
<div data-itemtype="details_preview" data-itemid="details_preview2" {$item_details_preview2} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_pengukuran_percil_dok}			
							<span>
					{$detailslButtons_t_pengukuran_percil_dok}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_pengukuran_percil_dok}
		</div>
	</div>
</div>
{END details_t_pengukuran_percil_dok}
	
				{END section2_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section3{$pageid}"> 
			{BEGIN section3_block}




 
	 
												
{BEGIN details_t_nego_detail_dok}
<div data-itemtype="details_preview" data-itemid="details_preview3" {$item_details_preview3} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_nego_detail_dok}			
							<span>
					{$detailslButtons_t_nego_detail_dok}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_nego_detail_dok}
		</div>
	</div>
</div>
{END details_t_nego_detail_dok}
	
				{END section3_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section4{$pageid}"> 
			{BEGIN section4_block}




 
	 
												
{BEGIN details_t_perm_dana_detail_dok}
<div data-itemtype="details_preview" data-itemid="details_preview4" {$item_details_preview4} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_perm_dana_detail_dok}			
							<span>
					{$detailslButtons_t_perm_dana_detail_dok}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_perm_dana_detail_dok}
		</div>
	</div>
</div>
{END details_t_perm_dana_detail_dok}
	
				{END section4_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section5{$pageid}"> 
			{BEGIN section5_block}




 
	 
												
{BEGIN details_t_pembayaran_detail_dok}
<div data-itemtype="details_preview" data-itemid="details_preview5" {$item_details_preview5} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_pembayaran_detail_dok}			
							<span>
					{$detailslButtons_t_pembayaran_detail_dok}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_pembayaran_detail_dok}
		</div>
	</div>
</div>
{END details_t_pembayaran_detail_dok}
	
				{END section5_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section6{$pageid}"> 
			{BEGIN section6_block}




 
	 
												
{BEGIN details_t_registrasi_percil_dok}
<div data-itemtype="details_preview" data-itemid="details_preview6" {$item_details_preview6} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_registrasi_percil_dok}			
							<span>
					{$detailslButtons_t_registrasi_percil_dok}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_registrasi_percil_dok}
		</div>
	</div>
</div>
{END details_t_registrasi_percil_dok}
	
				{END section6_block}
						</div>
				</div>
	</div>
</div>  	
				{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="t_dokumentasi_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
