<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
	<link href="images/fav.ico" rel="shortcut icon" type="image/x-icon">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="250px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel t_dokumentasi search}</h2>
		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label t_dokumentasi id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN id_lahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_lahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_lahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_lahan" data-fieldname="id_lahan" >


	<label class="r-search-label control-label" for="{$labelfor_id_lahan}">
		{$label t_dokumentasi id_lahan }	</label>
	<div class="r-search-option">
		{$searchtype_id_lahan}
	</div>
	<div class="r-search-field">
		{$id_lahan_editcontrol}	</div>
	<div class="r-search-field">
		{$id_lahan_editcontrol1}
	</div>
	
</div>

{END id_lahan_fieldblock}
											
{BEGIN start_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="start_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="start_date" data-fieldname="start_date" >


	<label class="r-search-label control-label" for="{$labelfor_start_date}">
		{$label t_dokumentasi start_date }	</label>
	<div class="r-search-option">
		{$searchtype_start_date}
	</div>
	<div class="r-search-field">
		{$start_date_editcontrol}	</div>
	<div class="r-search-field">
		{$start_date_editcontrol1}
	</div>
	
</div>

{END start_date_fieldblock}
											
{BEGIN due_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_due_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="due_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="due_date" data-fieldname="due_date" >


	<label class="r-search-label control-label" for="{$labelfor_due_date}">
		{$label t_dokumentasi due_date }	</label>
	<div class="r-search-option">
		{$searchtype_due_date}
	</div>
	<div class="r-search-field">
		{$due_date_editcontrol}	</div>
	<div class="r-search-field">
		{$due_date_editcontrol1}
	</div>
	
</div>

{END due_date_fieldblock}
											
{BEGIN pic_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pic}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pic{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="pic" data-fieldname="pic" >


	<label class="r-search-label control-label" for="{$labelfor_pic}">
		{$label t_dokumentasi pic }	</label>
	<div class="r-search-option">
		{$searchtype_pic}
	</div>
	<div class="r-search-field">
		{$pic_editcontrol}	</div>
	<div class="r-search-field">
		{$pic_editcontrol1}
	</div>
	
</div>

{END pic_fieldblock}
											
{BEGIN keterangan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="keterangan" data-fieldname="keterangan" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan}">
		{$label t_dokumentasi keterangan }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan}
	</div>
	<div class="r-search-field">
		{$keterangan_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_editcontrol1}
	</div>
	
</div>

{END keterangan_fieldblock}
											
{BEGIN status_lahan_pelepasan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_lahan_pelepasan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_lahan_pelepasan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="status_lahan_pelepasan" data-fieldname="status_lahan_pelepasan" >


	<label class="r-search-label control-label" for="{$labelfor_status_lahan_pelepasan}">
		{$label t_dokumentasi status_lahan_pelepasan }	</label>
	<div class="r-search-option">
		{$searchtype_status_lahan_pelepasan}
	</div>
	<div class="r-search-field">
		{$status_lahan_pelepasan_editcontrol}	</div>
	<div class="r-search-field">
		{$status_lahan_pelepasan_editcontrol1}
	</div>
	
</div>

{END status_lahan_pelepasan_fieldblock}
											
{BEGIN status_lahan_sertifkat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_lahan_sertifkat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_lahan_sertifkat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="status_lahan_sertifkat" data-fieldname="status_lahan_sertifkat" >


	<label class="r-search-label control-label" for="{$labelfor_status_lahan_sertifkat}">
		{$label t_dokumentasi status_lahan_sertifkat }	</label>
	<div class="r-search-option">
		{$searchtype_status_lahan_sertifkat}
	</div>
	<div class="r-search-field">
		{$status_lahan_sertifkat_editcontrol}	</div>
	<div class="r-search-field">
		{$status_lahan_sertifkat_editcontrol1}
	</div>
	
</div>

{END status_lahan_sertifkat_fieldblock}
											
{BEGIN status_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="status" data-fieldname="status" >


	<label class="r-search-label control-label" for="{$labelfor_status}">
		{$label t_dokumentasi status }	</label>
	<div class="r-search-option">
		{$searchtype_status}
	</div>
	<div class="r-search-field">
		{$status_editcontrol}	</div>
	<div class="r-search-field">
		{$status_editcontrol1}
	</div>
	
</div>

{END status_fieldblock}
											
{BEGIN close_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="close_by" data-fieldname="close_by" >


	<label class="r-search-label control-label" for="{$labelfor_close_by}">
		{$label t_dokumentasi close_by }	</label>
	<div class="r-search-option">
		{$searchtype_close_by}
	</div>
	<div class="r-search-field">
		{$close_by_editcontrol}	</div>
	<div class="r-search-field">
		{$close_by_editcontrol1}
	</div>
	
</div>

{END close_by_fieldblock}
											
{BEGIN close_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="close_date" data-fieldname="close_date" >


	<label class="r-search-label control-label" for="{$labelfor_close_date}">
		{$label t_dokumentasi close_date }	</label>
	<div class="r-search-option">
		{$searchtype_close_date}
	</div>
	<div class="r-search-field">
		{$close_date_editcontrol}	</div>
	<div class="r-search-field">
		{$close_date_editcontrol1}
	</div>
	
</div>

{END close_date_fieldblock}
											
{BEGIN created_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="created_date" data-fieldname="created_date" >


	<label class="r-search-label control-label" for="{$labelfor_created_date}">
		{$label t_dokumentasi created_date }	</label>
	<div class="r-search-option">
		{$searchtype_created_date}
	</div>
	<div class="r-search-field">
		{$created_date_editcontrol}	</div>
	<div class="r-search-field">
		{$created_date_editcontrol1}
	</div>
	
</div>

{END created_date_fieldblock}
											
{BEGIN created_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="created_by" data-fieldname="created_by" >


	<label class="r-search-label control-label" for="{$labelfor_created_by}">
		{$label t_dokumentasi created_by }	</label>
	<div class="r-search-option">
		{$searchtype_created_by}
	</div>
	<div class="r-search-field">
		{$created_by_editcontrol}	</div>
	<div class="r-search-field">
		{$created_by_editcontrol1}
	</div>
	
</div>

{END created_by_fieldblock}
											
{BEGIN updated_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="updated_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="updated_date" data-fieldname="updated_date" >


	<label class="r-search-label control-label" for="{$labelfor_updated_date}">
		{$label t_dokumentasi updated_date }	</label>
	<div class="r-search-option">
		{$searchtype_updated_date}
	</div>
	<div class="r-search-field">
		{$updated_date_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_date_editcontrol1}
	</div>
	
</div>

{END updated_date_fieldblock}
											
{BEGIN updated_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="updated_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="updated_by" data-fieldname="updated_by" >


	<label class="r-search-label control-label" for="{$labelfor_updated_by}">
		{$label t_dokumentasi updated_by }	</label>
	<div class="r-search-option">
		{$searchtype_updated_by}
	</div>
	<div class="r-search-field">
		{$updated_by_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_by_editcontrol1}
	</div>
	
</div>

{END updated_by_fieldblock}
											
{BEGIN nama_lahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_lahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_lahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="nama_lahan" data-fieldname="nama_lahan" >


	<label class="r-search-label control-label" for="{$labelfor_nama_lahan}">
		{$label t_dokumentasi nama_lahan }	</label>
	<div class="r-search-option">
		{$searchtype_nama_lahan}
	</div>
	<div class="r-search-field">
		{$nama_lahan_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_lahan_editcontrol1}
	</div>
	
</div>

{END nama_lahan_fieldblock}
											
{BEGIN ukuran_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ukuran}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ukuran{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="ukuran" data-fieldname="ukuran" >


	<label class="r-search-label control-label" for="{$labelfor_ukuran}">
		{$label t_dokumentasi ukuran }	</label>
	<div class="r-search-option">
		{$searchtype_ukuran}
	</div>
	<div class="r-search-field">
		{$ukuran_editcontrol}	</div>
	<div class="r-search-field">
		{$ukuran_editcontrol1}
	</div>
	
</div>

{END ukuran_fieldblock}
											
{BEGIN harga_bangunan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_harga_bangunan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="harga_bangunan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="harga_bangunan" data-fieldname="harga_bangunan" >


	<label class="r-search-label control-label" for="{$labelfor_harga_bangunan}">
		{$label t_dokumentasi harga_bangunan }	</label>
	<div class="r-search-option">
		{$searchtype_harga_bangunan}
	</div>
	<div class="r-search-field">
		{$harga_bangunan_editcontrol}	</div>
	<div class="r-search-field">
		{$harga_bangunan_editcontrol1}
	</div>
	
</div>

{END harga_bangunan_fieldblock}
											
{BEGIN harga_per_m2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_harga_per_m2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="harga_per_m2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="harga_per_m2" data-fieldname="harga_per_m2" >


	<label class="r-search-label control-label" for="{$labelfor_harga_per_m2}">
		{$label t_dokumentasi harga_per_m2 }	</label>
	<div class="r-search-option">
		{$searchtype_harga_per_m2}
	</div>
	<div class="r-search-field">
		{$harga_per_m2_editcontrol}	</div>
	<div class="r-search-field">
		{$harga_per_m2_editcontrol1}
	</div>
	
</div>

{END harga_per_m2_fieldblock}
											
{BEGIN total_biaya_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_biaya}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_biaya{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="total_biaya" data-fieldname="total_biaya" >


	<label class="r-search-label control-label" for="{$labelfor_total_biaya}">
		{$label t_dokumentasi total_biaya }	</label>
	<div class="r-search-option">
		{$searchtype_total_biaya}
	</div>
	<div class="r-search-field">
		{$total_biaya_editcontrol}	</div>
	<div class="r-search-field">
		{$total_biaya_editcontrol1}
	</div>
	
</div>

{END total_biaya_fieldblock}
											
{BEGIN blok_lokasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_blok_lokasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="blok_lokasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="blok_lokasi" data-fieldname="blok_lokasi" >


	<label class="r-search-label control-label" for="{$labelfor_blok_lokasi}">
		{$label t_dokumentasi blok_lokasi }	</label>
	<div class="r-search-option">
		{$searchtype_blok_lokasi}
	</div>
	<div class="r-search-field">
		{$blok_lokasi_editcontrol}	</div>
	<div class="r-search-field">
		{$blok_lokasi_editcontrol1}
	</div>
	
</div>

{END blok_lokasi_fieldblock}
											
{BEGIN nama_lokasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_lokasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_lokasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="nama_lokasi" data-fieldname="nama_lokasi" >


	<label class="r-search-label control-label" for="{$labelfor_nama_lokasi}">
		{$label t_dokumentasi nama_lokasi }	</label>
	<div class="r-search-option">
		{$searchtype_nama_lokasi}
	</div>
	<div class="r-search-field">
		{$nama_lokasi_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_lokasi_editcontrol1}
	</div>
	
</div>

{END nama_lokasi_fieldblock}
											
{BEGIN keperluan_lahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keperluan_lahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keperluan_lahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="keperluan_lahan" data-fieldname="keperluan_lahan" >


	<label class="r-search-label control-label" for="{$labelfor_keperluan_lahan}">
		{$label t_dokumentasi keperluan_lahan }	</label>
	<div class="r-search-option">
		{$searchtype_keperluan_lahan}
	</div>
	<div class="r-search-field">
		{$keperluan_lahan_editcontrol}	</div>
	<div class="r-search-field">
		{$keperluan_lahan_editcontrol1}
	</div>
	
</div>

{END keperluan_lahan_fieldblock}
											
{BEGIN batas_utara_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_batas_utara}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="batas_utara{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="batas_utara" data-fieldname="batas_utara" >


	<label class="r-search-label control-label" for="{$labelfor_batas_utara}">
		{$label t_dokumentasi batas_utara }	</label>
	<div class="r-search-option">
		{$searchtype_batas_utara}
	</div>
	<div class="r-search-field">
		{$batas_utara_editcontrol}	</div>
	<div class="r-search-field">
		{$batas_utara_editcontrol1}
	</div>
	
</div>

{END batas_utara_fieldblock}
											
{BEGIN batas_selatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_batas_selatan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="batas_selatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="batas_selatan" data-fieldname="batas_selatan" >


	<label class="r-search-label control-label" for="{$labelfor_batas_selatan}">
		{$label t_dokumentasi batas_selatan }	</label>
	<div class="r-search-option">
		{$searchtype_batas_selatan}
	</div>
	<div class="r-search-field">
		{$batas_selatan_editcontrol}	</div>
	<div class="r-search-field">
		{$batas_selatan_editcontrol1}
	</div>
	
</div>

{END batas_selatan_fieldblock}
											
{BEGIN batas_barat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_batas_barat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="batas_barat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="batas_barat" data-fieldname="batas_barat" >


	<label class="r-search-label control-label" for="{$labelfor_batas_barat}">
		{$label t_dokumentasi batas_barat }	</label>
	<div class="r-search-option">
		{$searchtype_batas_barat}
	</div>
	<div class="r-search-field">
		{$batas_barat_editcontrol}	</div>
	<div class="r-search-field">
		{$batas_barat_editcontrol1}
	</div>
	
</div>

{END batas_barat_fieldblock}
											
{BEGIN batas_timur_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_batas_timur}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="batas_timur{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="batas_timur" data-fieldname="batas_timur" >


	<label class="r-search-label control-label" for="{$labelfor_batas_timur}">
		{$label t_dokumentasi batas_timur }	</label>
	<div class="r-search-option">
		{$searchtype_batas_timur}
	</div>
	<div class="r-search-field">
		{$batas_timur_editcontrol}	</div>
	<div class="r-search-field">
		{$batas_timur_editcontrol1}
	</div>
	
</div>

{END batas_timur_fieldblock}
											
{BEGIN keterangan_pengukuran_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_pengukuran}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan_pengukuran{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="keterangan_pengukuran" data-fieldname="keterangan_pengukuran" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan_pengukuran}">
		{$label t_dokumentasi keterangan_pengukuran }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan_pengukuran}
	</div>
	<div class="r-search-field">
		{$keterangan_pengukuran_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_pengukuran_editcontrol1}
	</div>
	
</div>

{END keterangan_pengukuran_fieldblock}
											
{BEGIN keterangan_input_awal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_input_awal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan_input_awal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="keterangan_input_awal" data-fieldname="keterangan_input_awal" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan_input_awal}">
		{$label t_dokumentasi keterangan_input_awal }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan_input_awal}
	</div>
	<div class="r-search-field">
		{$keterangan_input_awal_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_input_awal_editcontrol1}
	</div>
	
</div>

{END keterangan_input_awal_fieldblock}
											
{BEGIN keterangan_negosiasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_negosiasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan_negosiasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="keterangan_negosiasi" data-fieldname="keterangan_negosiasi" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan_negosiasi}">
		{$label t_dokumentasi keterangan_negosiasi }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan_negosiasi}
	</div>
	<div class="r-search-field">
		{$keterangan_negosiasi_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_negosiasi_editcontrol1}
	</div>
	
</div>

{END keterangan_negosiasi_fieldblock}
											
{BEGIN keterangan_deal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_deal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan_deal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="keterangan_deal" data-fieldname="keterangan_deal" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan_deal}">
		{$label t_dokumentasi keterangan_deal }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan_deal}
	</div>
	<div class="r-search-field">
		{$keterangan_deal_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_deal_editcontrol1}
	</div>
	
</div>

{END keterangan_deal_fieldblock}
											
{BEGIN dp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="dp" data-fieldname="dp" >


	<label class="r-search-label control-label" for="{$labelfor_dp}">
		{$label t_dokumentasi dp }	</label>
	<div class="r-search-option">
		{$searchtype_dp}
	</div>
	<div class="r-search-field">
		{$dp_editcontrol}	</div>
	<div class="r-search-field">
		{$dp_editcontrol1}
	</div>
	
</div>

{END dp_fieldblock}
											
{BEGIN sisa_pembayaran_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sisa_pembayaran}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sisa_pembayaran{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="sisa_pembayaran" data-fieldname="sisa_pembayaran" >


	<label class="r-search-label control-label" for="{$labelfor_sisa_pembayaran}">
		{$label t_dokumentasi sisa_pembayaran }	</label>
	<div class="r-search-option">
		{$searchtype_sisa_pembayaran}
	</div>
	<div class="r-search-field">
		{$sisa_pembayaran_editcontrol}	</div>
	<div class="r-search-field">
		{$sisa_pembayaran_editcontrol1}
	</div>
	
</div>

{END sisa_pembayaran_fieldblock}
											
{BEGIN tipe_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipe}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipe{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="tipe" data-fieldname="tipe" >


	<label class="r-search-label control-label" for="{$labelfor_tipe}">
		{$label t_dokumentasi tipe }	</label>
	<div class="r-search-option">
		{$searchtype_tipe}
	</div>
	<div class="r-search-field">
		{$tipe_editcontrol}	</div>
	<div class="r-search-field">
		{$tipe_editcontrol1}
	</div>
	
</div>

{END tipe_fieldblock}
											
{BEGIN biaya_admin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya_admin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="biaya_admin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="biaya_admin" data-fieldname="biaya_admin" >


	<label class="r-search-label control-label" for="{$labelfor_biaya_admin}">
		{$label t_dokumentasi biaya_admin }	</label>
	<div class="r-search-option">
		{$searchtype_biaya_admin}
	</div>
	<div class="r-search-field">
		{$biaya_admin_editcontrol}	</div>
	<div class="r-search-field">
		{$biaya_admin_editcontrol1}
	</div>
	
</div>

{END biaya_admin_fieldblock}
											
{BEGIN keterangan_perm_dana_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_perm_dana}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan_perm_dana{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="keterangan_perm_dana" data-fieldname="keterangan_perm_dana" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan_perm_dana}">
		{$label t_dokumentasi keterangan_perm_dana }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan_perm_dana}
	</div>
	<div class="r-search-field">
		{$keterangan_perm_dana_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_perm_dana_editcontrol1}
	</div>
	
</div>

{END keterangan_perm_dana_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
