<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
	<link href="images/fav.ico" rel="shortcut icon" type="image/x-icon">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="250px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel t_input_awal_report1 search}</h2>
		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label t_input_awal_report1 id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN id_lahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_lahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_lahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_lahan" data-fieldname="id_lahan" >


	<label class="r-search-label control-label" for="{$labelfor_id_lahan}">
		{$label t_input_awal_report1 id_lahan }	</label>
	<div class="r-search-option">
		{$searchtype_id_lahan}
	</div>
	<div class="r-search-field">
		{$id_lahan_editcontrol}	</div>
	<div class="r-search-field">
		{$id_lahan_editcontrol1}
	</div>
	
</div>

{END id_lahan_fieldblock}
											
{BEGIN nama_lahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_lahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_lahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="nama_lahan" data-fieldname="nama_lahan" >


	<label class="r-search-label control-label" for="{$labelfor_nama_lahan}">
		{$label t_input_awal_report1 nama_lahan }	</label>
	<div class="r-search-option">
		{$searchtype_nama_lahan}
	</div>
	<div class="r-search-field">
		{$nama_lahan_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_lahan_editcontrol1}
	</div>
	
</div>

{END nama_lahan_fieldblock}
											
{BEGIN nama_lokasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_lokasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_lokasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="nama_lokasi" data-fieldname="nama_lokasi" >


	<label class="r-search-label control-label" for="{$labelfor_nama_lokasi}">
		{$label t_input_awal_report1 nama_lokasi }	</label>
	<div class="r-search-option">
		{$searchtype_nama_lokasi}
	</div>
	<div class="r-search-field">
		{$nama_lokasi_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_lokasi_editcontrol1}
	</div>
	
</div>

{END nama_lokasi_fieldblock}
											
{BEGIN ukuran_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ukuran}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ukuran{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="ukuran" data-fieldname="ukuran" >


	<label class="r-search-label control-label" for="{$labelfor_ukuran}">
		{$label t_input_awal_report1 ukuran }	</label>
	<div class="r-search-option">
		{$searchtype_ukuran}
	</div>
	<div class="r-search-field">
		{$ukuran_editcontrol}	</div>
	<div class="r-search-field">
		{$ukuran_editcontrol1}
	</div>
	
</div>

{END ukuran_fieldblock}
											
{BEGIN harga_per_m2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_harga_per_m2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="harga_per_m2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="harga_per_m2" data-fieldname="harga_per_m2" >


	<label class="r-search-label control-label" for="{$labelfor_harga_per_m2}">
		{$label t_input_awal_report1 harga_per_m2 }	</label>
	<div class="r-search-option">
		{$searchtype_harga_per_m2}
	</div>
	<div class="r-search-field">
		{$harga_per_m2_editcontrol}	</div>
	<div class="r-search-field">
		{$harga_per_m2_editcontrol1}
	</div>
	
</div>

{END harga_per_m2_fieldblock}
											
{BEGIN total_biaya_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_biaya}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_biaya{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="total_biaya" data-fieldname="total_biaya" >


	<label class="r-search-label control-label" for="{$labelfor_total_biaya}">
		{$label t_input_awal_report1 total_biaya }	</label>
	<div class="r-search-option">
		{$searchtype_total_biaya}
	</div>
	<div class="r-search-field">
		{$total_biaya_editcontrol}	</div>
	<div class="r-search-field">
		{$total_biaya_editcontrol1}
	</div>
	
</div>

{END total_biaya_fieldblock}
											
{BEGIN status_input_awal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_input_awal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_input_awal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="status_input_awal" data-fieldname="status_input_awal" >


	<label class="r-search-label control-label" for="{$labelfor_status_input_awal}">
		{$label t_input_awal_report1 status_input_awal }	</label>
	<div class="r-search-option">
		{$searchtype_status_input_awal}
	</div>
	<div class="r-search-field">
		{$status_input_awal_editcontrol}	</div>
	<div class="r-search-field">
		{$status_input_awal_editcontrol1}
	</div>
	
</div>

{END status_input_awal_fieldblock}
											
{BEGIN close_date_input_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_date_input}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_date_input{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="close_date_input" data-fieldname="close_date_input" >


	<label class="r-search-label control-label" for="{$labelfor_close_date_input}">
		{$label t_input_awal_report1 close_date_input }	</label>
	<div class="r-search-option">
		{$searchtype_close_date_input}
	</div>
	<div class="r-search-field">
		{$close_date_input_editcontrol}	</div>
	<div class="r-search-field">
		{$close_date_input_editcontrol1}
	</div>
	
</div>

{END close_date_input_fieldblock}
											
{BEGIN status_pengukuran_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_pengukuran}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_pengukuran{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="status_pengukuran" data-fieldname="status_pengukuran" >


	<label class="r-search-label control-label" for="{$labelfor_status_pengukuran}">
		{$label t_input_awal_report1 status_pengukuran }	</label>
	<div class="r-search-option">
		{$searchtype_status_pengukuran}
	</div>
	<div class="r-search-field">
		{$status_pengukuran_editcontrol}	</div>
	<div class="r-search-field">
		{$status_pengukuran_editcontrol1}
	</div>
	
</div>

{END status_pengukuran_fieldblock}
											
{BEGIN close_date_pengukuran_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_date_pengukuran}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_date_pengukuran{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="close_date_pengukuran" data-fieldname="close_date_pengukuran" >


	<label class="r-search-label control-label" for="{$labelfor_close_date_pengukuran}">
		{$label t_input_awal_report1 close_date_pengukuran }	</label>
	<div class="r-search-option">
		{$searchtype_close_date_pengukuran}
	</div>
	<div class="r-search-field">
		{$close_date_pengukuran_editcontrol}	</div>
	<div class="r-search-field">
		{$close_date_pengukuran_editcontrol1}
	</div>
	
</div>

{END close_date_pengukuran_fieldblock}
											
{BEGIN status_negosiasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_negosiasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_negosiasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="status_negosiasi" data-fieldname="status_negosiasi" >


	<label class="r-search-label control-label" for="{$labelfor_status_negosiasi}">
		{$label t_input_awal_report1 status_negosiasi }	</label>
	<div class="r-search-option">
		{$searchtype_status_negosiasi}
	</div>
	<div class="r-search-field">
		{$status_negosiasi_editcontrol}	</div>
	<div class="r-search-field">
		{$status_negosiasi_editcontrol1}
	</div>
	
</div>

{END status_negosiasi_fieldblock}
											
{BEGIN close_date_negosiasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_date_negosiasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_date_negosiasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="close_date_negosiasi" data-fieldname="close_date_negosiasi" >


	<label class="r-search-label control-label" for="{$labelfor_close_date_negosiasi}">
		{$label t_input_awal_report1 close_date_negosiasi }	</label>
	<div class="r-search-option">
		{$searchtype_close_date_negosiasi}
	</div>
	<div class="r-search-field">
		{$close_date_negosiasi_editcontrol}	</div>
	<div class="r-search-field">
		{$close_date_negosiasi_editcontrol1}
	</div>
	
</div>

{END close_date_negosiasi_fieldblock}
											
{BEGIN status_deal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_deal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_deal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="status_deal" data-fieldname="status_deal" >


	<label class="r-search-label control-label" for="{$labelfor_status_deal}">
		{$label t_input_awal_report1 status_deal }	</label>
	<div class="r-search-option">
		{$searchtype_status_deal}
	</div>
	<div class="r-search-field">
		{$status_deal_editcontrol}	</div>
	<div class="r-search-field">
		{$status_deal_editcontrol1}
	</div>
	
</div>

{END status_deal_fieldblock}
											
{BEGIN close_date_deal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_date_deal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_date_deal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="close_date_deal" data-fieldname="close_date_deal" >


	<label class="r-search-label control-label" for="{$labelfor_close_date_deal}">
		{$label t_input_awal_report1 close_date_deal }	</label>
	<div class="r-search-option">
		{$searchtype_close_date_deal}
	</div>
	<div class="r-search-field">
		{$close_date_deal_editcontrol}	</div>
	<div class="r-search-field">
		{$close_date_deal_editcontrol1}
	</div>
	
</div>

{END close_date_deal_fieldblock}
											
{BEGIN status_dokumentasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_dokumentasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_dokumentasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="status_dokumentasi" data-fieldname="status_dokumentasi" >


	<label class="r-search-label control-label" for="{$labelfor_status_dokumentasi}">
		{$label t_input_awal_report1 status_dokumentasi }	</label>
	<div class="r-search-option">
		{$searchtype_status_dokumentasi}
	</div>
	<div class="r-search-field">
		{$status_dokumentasi_editcontrol}	</div>
	<div class="r-search-field">
		{$status_dokumentasi_editcontrol1}
	</div>
	
</div>

{END status_dokumentasi_fieldblock}
											
{BEGIN close_date_dokumentasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_date_dokumentasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_date_dokumentasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="close_date_dokumentasi" data-fieldname="close_date_dokumentasi" >


	<label class="r-search-label control-label" for="{$labelfor_close_date_dokumentasi}">
		{$label t_input_awal_report1 close_date_dokumentasi }	</label>
	<div class="r-search-option">
		{$searchtype_close_date_dokumentasi}
	</div>
	<div class="r-search-field">
		{$close_date_dokumentasi_editcontrol}	</div>
	<div class="r-search-field">
		{$close_date_dokumentasi_editcontrol1}
	</div>
	
</div>

{END close_date_dokumentasi_fieldblock}
											
{BEGIN status_dp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_dp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_dp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="status_dp" data-fieldname="status_dp" >


	<label class="r-search-label control-label" for="{$labelfor_status_dp}">
		{$label t_input_awal_report1 status_dp }	</label>
	<div class="r-search-option">
		{$searchtype_status_dp}
	</div>
	<div class="r-search-field">
		{$status_dp_editcontrol}	</div>
	<div class="r-search-field">
		{$status_dp_editcontrol1}
	</div>
	
</div>

{END status_dp_fieldblock}
											
{BEGIN close_dp_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_dp_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_dp_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="close_dp_date" data-fieldname="close_dp_date" >


	<label class="r-search-label control-label" for="{$labelfor_close_dp_date}">
		{$label t_input_awal_report1 close_dp_date }	</label>
	<div class="r-search-option">
		{$searchtype_close_dp_date}
	</div>
	<div class="r-search-field">
		{$close_dp_date_editcontrol}	</div>
	<div class="r-search-field">
		{$close_dp_date_editcontrol1}
	</div>
	
</div>

{END close_dp_date_fieldblock}
											
{BEGIN status_full_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_full}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_full{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="status_full" data-fieldname="status_full" >


	<label class="r-search-label control-label" for="{$labelfor_status_full}">
		{$label t_input_awal_report1 status_full }	</label>
	<div class="r-search-option">
		{$searchtype_status_full}
	</div>
	<div class="r-search-field">
		{$status_full_editcontrol}	</div>
	<div class="r-search-field">
		{$status_full_editcontrol1}
	</div>
	
</div>

{END status_full_fieldblock}
											
{BEGIN close_full_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_full_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_full_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="close_full_date" data-fieldname="close_full_date" >


	<label class="r-search-label control-label" for="{$labelfor_close_full_date}">
		{$label t_input_awal_report1 close_full_date }	</label>
	<div class="r-search-option">
		{$searchtype_close_full_date}
	</div>
	<div class="r-search-field">
		{$close_full_date_editcontrol}	</div>
	<div class="r-search-field">
		{$close_full_date_editcontrol1}
	</div>
	
</div>

{END close_full_date_fieldblock}
											
{BEGIN status_badmin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_badmin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_badmin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="status_badmin" data-fieldname="status_badmin" >


	<label class="r-search-label control-label" for="{$labelfor_status_badmin}">
		{$label t_input_awal_report1 status_badmin }	</label>
	<div class="r-search-option">
		{$searchtype_status_badmin}
	</div>
	<div class="r-search-field">
		{$status_badmin_editcontrol}	</div>
	<div class="r-search-field">
		{$status_badmin_editcontrol1}
	</div>
	
</div>

{END status_badmin_fieldblock}
											
{BEGIN close_badmin_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_badmin_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_badmin_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="close_badmin_date" data-fieldname="close_badmin_date" >


	<label class="r-search-label control-label" for="{$labelfor_close_badmin_date}">
		{$label t_input_awal_report1 close_badmin_date }	</label>
	<div class="r-search-option">
		{$searchtype_close_badmin_date}
	</div>
	<div class="r-search-field">
		{$close_badmin_date_editcontrol}	</div>
	<div class="r-search-field">
		{$close_badmin_date_editcontrol1}
	</div>
	
</div>

{END close_badmin_date_fieldblock}
											
{BEGIN status_pemb_admin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_pemb_admin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_pemb_admin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="status_pemb_admin" data-fieldname="status_pemb_admin" >


	<label class="r-search-label control-label" for="{$labelfor_status_pemb_admin}">
		{$label t_input_awal_report1 status_pemb_admin }	</label>
	<div class="r-search-option">
		{$searchtype_status_pemb_admin}
	</div>
	<div class="r-search-field">
		{$status_pemb_admin_editcontrol}	</div>
	<div class="r-search-field">
		{$status_pemb_admin_editcontrol1}
	</div>
	
</div>

{END status_pemb_admin_fieldblock}
											
{BEGIN status_pemb_dp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_pemb_dp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_pemb_dp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="status_pemb_dp" data-fieldname="status_pemb_dp" >


	<label class="r-search-label control-label" for="{$labelfor_status_pemb_dp}">
		{$label t_input_awal_report1 status_pemb_dp }	</label>
	<div class="r-search-option">
		{$searchtype_status_pemb_dp}
	</div>
	<div class="r-search-field">
		{$status_pemb_dp_editcontrol}	</div>
	<div class="r-search-field">
		{$status_pemb_dp_editcontrol1}
	</div>
	
</div>

{END status_pemb_dp_fieldblock}
											
{BEGIN status_pemb_full_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_pemb_full}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_pemb_full{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="status_pemb_full" data-fieldname="status_pemb_full" >


	<label class="r-search-label control-label" for="{$labelfor_status_pemb_full}">
		{$label t_input_awal_report1 status_pemb_full }	</label>
	<div class="r-search-option">
		{$searchtype_status_pemb_full}
	</div>
	<div class="r-search-field">
		{$status_pemb_full_editcontrol}	</div>
	<div class="r-search-field">
		{$status_pemb_full_editcontrol1}
	</div>
	
</div>

{END status_pemb_full_fieldblock}
											
{BEGIN status_regis_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_regis}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_regis{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="status_regis" data-fieldname="status_regis" >


	<label class="r-search-label control-label" for="{$labelfor_status_regis}">
		{$label t_input_awal_report1 status_regis }	</label>
	<div class="r-search-option">
		{$searchtype_status_regis}
	</div>
	<div class="r-search-field">
		{$status_regis_editcontrol}	</div>
	<div class="r-search-field">
		{$status_regis_editcontrol1}
	</div>
	
</div>

{END status_regis_fieldblock}
											
{BEGIN close_regis_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_regis_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="close_regis_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="close_regis_date" data-fieldname="close_regis_date" >


	<label class="r-search-label control-label" for="{$labelfor_close_regis_date}">
		{$label t_input_awal_report1 close_regis_date }	</label>
	<div class="r-search-option">
		{$searchtype_close_regis_date}
	</div>
	<div class="r-search-field">
		{$close_regis_date_editcontrol}	</div>
	<div class="r-search-field">
		{$close_regis_date_editcontrol1}
	</div>
	
</div>

{END close_regis_date_fieldblock}
											
{BEGIN no_register_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_no_register}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="no_register{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="no_register" data-fieldname="no_register" >


	<label class="r-search-label control-label" for="{$labelfor_no_register}">
		{$label t_input_awal_report1 no_register }	</label>
	<div class="r-search-option">
		{$searchtype_no_register}
	</div>
	<div class="r-search-field">
		{$no_register_editcontrol}	</div>
	<div class="r-search-field">
		{$no_register_editcontrol1}
	</div>
	
</div>

{END no_register_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
