<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
	<link href="images/fav.ico" rel="shortcut icon" type="image/x-icon">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="250px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" data-page="t_perm_dana_close_view" >{$pagetitlelabel t_perm_dana_close view}</h2>
		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class="r-align-left r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_lahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_lahan}  r-vertical-field" data-fieldname="id_lahan" data-signal-error-for="id_lahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="id_lahan" data-fieldname="id_lahan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_id_lahan}">
		
		{BEGIN id_lahan_label}{$label t_perm_dana_close id_lahan }{END id_lahan_label}
	</label>
	<div class="" >
		{$id_lahan_value}	</div>

		</div>
		
</div>


{END id_lahan_fieldblock}
											
{BEGIN nama_lahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_lahan}  r-vertical-field" data-fieldname="nama_lahan" data-signal-error-for="nama_lahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="nama_lahan" data-fieldname="nama_lahan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_nama_lahan}">
		
		{BEGIN nama_lahan_label}{$label t_perm_dana_close nama_lahan }{END nama_lahan_label}
	</label>
	<div class="" >
		{$nama_lahan_value}	</div>

		</div>
		
</div>


{END nama_lahan_fieldblock}
											
{BEGIN tipe_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tipe}  r-vertical-field" data-fieldname="tipe" data-signal-error-for="tipe{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="tipe" data-fieldname="tipe" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_tipe}">
		
		{BEGIN tipe_label}{$label t_perm_dana_close tipe }{END tipe_label}
	</label>
	<div class="" >
		{$tipe_value}	</div>

		</div>
		
</div>


{END tipe_fieldblock}
											
{BEGIN dp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dp}  r-vertical-field" data-fieldname="dp" data-signal-error-for="dp{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="dp" data-fieldname="dp" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_dp}">
		
		{BEGIN dp_label}{$label t_perm_dana_close dp }{END dp_label}
	</label>
	<div class="" >
		{$dp_value}	</div>

		</div>
		
</div>


{END dp_fieldblock}
											
{BEGIN sisa_pembayaran_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sisa_pembayaran}  r-vertical-field" data-fieldname="sisa_pembayaran" data-signal-error-for="sisa_pembayaran{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="sisa_pembayaran" data-fieldname="sisa_pembayaran" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sisa_pembayaran}">
		
		{BEGIN sisa_pembayaran_label}{$label t_perm_dana_close sisa_pembayaran }{END sisa_pembayaran_label}
	</label>
	<div class="" >
		{$sisa_pembayaran_value}	</div>

		</div>
		
</div>


{END sisa_pembayaran_fieldblock}
											
{BEGIN biaya_admin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya_admin}  r-vertical-field" data-fieldname="biaya_admin" data-signal-error-for="biaya_admin{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="biaya_admin" data-fieldname="biaya_admin" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_biaya_admin}">
		
		{BEGIN biaya_admin_label}{$label t_perm_dana_close biaya_admin }{END biaya_admin_label}
	</label>
	<div class="" >
		{$biaya_admin_value}	</div>

		</div>
		
</div>


{END biaya_admin_fieldblock}
											
{BEGIN pic_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pic}  r-vertical-field" data-fieldname="pic" data-signal-error-for="pic{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="pic" data-fieldname="pic" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_pic}">
		
		{BEGIN pic_label}{$label t_perm_dana_close pic }{END pic_label}
	</label>
	<div class="" >
		{$pic_value}	</div>

		</div>
		
</div>


{END pic_fieldblock}
											
{BEGIN keterangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan}  r-vertical-field" data-fieldname="keterangan" data-signal-error-for="keterangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="keterangan" data-fieldname="keterangan" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keterangan}">
		
		{BEGIN keterangan_label}{$label t_perm_dana_close keterangan }{END keterangan_label}
	</label>
	<div class="" >
		{$keterangan_value}	</div>

		</div>
		
</div>


{END keterangan_fieldblock}
											
{BEGIN status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status}  r-vertical-field" data-fieldname="status" data-signal-error-for="status{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="status" data-fieldname="status" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_status}">
		
		{BEGIN status_label}{$label t_perm_dana_close status }{END status_label}
	</label>
	<div class="" >
		{$status_value}	</div>

		</div>
		
</div>


{END status_fieldblock}
											
{BEGIN status_full_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status_full}  r-vertical-field" data-fieldname="status_full" data-signal-error-for="status_full{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="status_full" data-fieldname="status_full" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_status_full}">
		
		{BEGIN status_full_label}{$label t_perm_dana_close status_full }{END status_full_label}
	</label>
	<div class="" >
		{$status_full_value}	</div>

		</div>
		
</div>


{END status_full_fieldblock}
											
{BEGIN status_badmin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status_badmin}  r-vertical-field" data-fieldname="status_badmin" data-signal-error-for="status_badmin{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="status_badmin" data-fieldname="status_badmin" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_status_badmin}">
		
		{BEGIN status_badmin_label}{$label t_perm_dana_close status_badmin }{END status_badmin_label}
	</label>
	<div class="" >
		{$status_badmin_value}	</div>

		</div>
		
</div>


{END status_badmin_fieldblock}
											
{BEGIN keterangan_bayar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_bayar}  r-vertical-field" data-fieldname="keterangan_bayar" data-signal-error-for="keterangan_bayar{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="keterangan_bayar" data-fieldname="keterangan_bayar" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_keterangan_bayar}">
		
		{BEGIN keterangan_bayar_label}{$label t_perm_dana_close keterangan_bayar }{END keterangan_bayar_label}
	</label>
	<div class="" >
		{$keterangan_bayar_value}	</div>

		</div>
		
</div>


{END keterangan_bayar_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class="r-align-left r-ori-vert"
	
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN start_date_dp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date_dp}  r-vertical-field" data-fieldname="start_date_dp" data-signal-error-for="start_date_dp{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="start_date_dp" data-fieldname="start_date_dp" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_start_date_dp}">
		
		{BEGIN start_date_dp_label}{$label t_perm_dana_close start_date_dp }{END start_date_dp_label}
	</label>
	<div class="" >
		{$start_date_dp_value}	</div>

		</div>
		
</div>


{END start_date_dp_fieldblock}
											
{BEGIN due_date_dp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_due_date_dp}  r-vertical-field" data-fieldname="due_date_dp" data-signal-error-for="due_date_dp{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="due_date_dp" data-fieldname="due_date_dp" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_due_date_dp}">
		
		{BEGIN due_date_dp_label}{$label t_perm_dana_close due_date_dp }{END due_date_dp_label}
	</label>
	<div class="" >
		{$due_date_dp_value}	</div>

		</div>
		
</div>


{END due_date_dp_fieldblock}
											
{BEGIN start_date_full_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_start_date_full}  r-vertical-field" data-fieldname="start_date_full" data-signal-error-for="start_date_full{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="start_date_full" data-fieldname="start_date_full" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_start_date_full}">
		
		{BEGIN start_date_full_label}{$label t_perm_dana_close start_date_full }{END start_date_full_label}
	</label>
	<div class="" >
		{$start_date_full_value}	</div>

		</div>
		
</div>


{END start_date_full_fieldblock}
											
{BEGIN due_date_full_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_due_date_full}  r-vertical-field" data-fieldname="due_date_full" data-signal-error-for="due_date_full{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="due_date_full" data-fieldname="due_date_full" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_due_date_full}">
		
		{BEGIN due_date_full_label}{$label t_perm_dana_close due_date_full }{END due_date_full_label}
	</label>
	<div class="" >
		{$due_date_full_value}	</div>

		</div>
		
</div>


{END due_date_full_fieldblock}
											
{BEGIN close_dp_by_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_dp_by}  r-vertical-field" data-fieldname="close_dp_by" data-signal-error-for="close_dp_by{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="close_dp_by" data-fieldname="close_dp_by" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_close_dp_by}">
		
		{BEGIN close_dp_by_label}{$label t_perm_dana_close close_dp_by }{END close_dp_by_label}
	</label>
	<div class="" >
		{$close_dp_by_value}	</div>

		</div>
		
</div>


{END close_dp_by_fieldblock}
											
{BEGIN close_dp_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_dp_date}  r-vertical-field" data-fieldname="close_dp_date" data-signal-error-for="close_dp_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="close_dp_date" data-fieldname="close_dp_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_close_dp_date}">
		
		{BEGIN close_dp_date_label}{$label t_perm_dana_close close_dp_date }{END close_dp_date_label}
	</label>
	<div class="" >
		{$close_dp_date_value}	</div>

		</div>
		
</div>


{END close_dp_date_fieldblock}
											
{BEGIN close_full_by_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_full_by}  r-vertical-field" data-fieldname="close_full_by" data-signal-error-for="close_full_by{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="close_full_by" data-fieldname="close_full_by" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_close_full_by}">
		
		{BEGIN close_full_by_label}{$label t_perm_dana_close close_full_by }{END close_full_by_label}
	</label>
	<div class="" >
		{$close_full_by_value}	</div>

		</div>
		
</div>


{END close_full_by_fieldblock}
											
{BEGIN close_full_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_full_date}  r-vertical-field" data-fieldname="close_full_date" data-signal-error-for="close_full_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="close_full_date" data-fieldname="close_full_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_close_full_date}">
		
		{BEGIN close_full_date_label}{$label t_perm_dana_close close_full_date }{END close_full_date_label}
	</label>
	<div class="" >
		{$close_full_date_value}	</div>

		</div>
		
</div>


{END close_full_date_fieldblock}
											
{BEGIN close_badmin_by_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_badmin_by}  r-vertical-field" data-fieldname="close_badmin_by" data-signal-error-for="close_badmin_by{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="close_badmin_by" data-fieldname="close_badmin_by" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_close_badmin_by}">
		
		{BEGIN close_badmin_by_label}{$label t_perm_dana_close close_badmin_by }{END close_badmin_by_label}
	</label>
	<div class="" >
		{$close_badmin_by_value}	</div>

		</div>
		
</div>


{END close_badmin_by_fieldblock}
											
{BEGIN close_badmin_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_badmin_date}  r-vertical-field" data-fieldname="close_badmin_date" data-signal-error-for="close_badmin_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="close_badmin_date" data-fieldname="close_badmin_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_close_badmin_date}">
		
		{BEGIN close_badmin_date_label}{$label t_perm_dana_close close_badmin_date }{END close_badmin_date_label}
	</label>
	<div class="" >
		{$close_badmin_date_value}	</div>

		</div>
		
</div>


{END close_badmin_date_fieldblock}
											
{BEGIN created_by_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_by}  r-vertical-field" data-fieldname="created_by" data-signal-error-for="created_by{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="created_by" data-fieldname="created_by" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_created_by}">
		
		{BEGIN created_by_label}{$label t_perm_dana_close created_by }{END created_by_label}
	</label>
	<div class="" >
		{$created_by_value}	</div>

		</div>
		
</div>


{END created_by_fieldblock}
											
{BEGIN created_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_created_date}  r-vertical-field" data-fieldname="created_date" data-signal-error-for="created_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="created_date" data-fieldname="created_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_created_date}">
		
		{BEGIN created_date_label}{$label t_perm_dana_close created_date }{END created_date_label}
	</label>
	<div class="" >
		{$created_date_value}	</div>

		</div>
		
</div>


{END created_date_fieldblock}
											
{BEGIN updated_by_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_by}  r-vertical-field" data-fieldname="updated_by" data-signal-error-for="updated_by{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="updated_by" data-fieldname="updated_by" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_updated_by}">
		
		{BEGIN updated_by_label}{$label t_perm_dana_close updated_by }{END updated_by_label}
	</label>
	<div class="" >
		{$updated_by_value}	</div>

		</div>
		
</div>


{END updated_by_fieldblock}
											
{BEGIN updated_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_date}  r-vertical-field" data-fieldname="updated_date" data-signal-error-for="updated_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="updated_date" data-fieldname="updated_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_updated_date}">
		
		{BEGIN updated_date_label}{$label t_perm_dana_close updated_date }{END updated_date_label}
	</label>
	<div class="" >
		{$updated_date_value}	</div>

		</div>
		
</div>


{END updated_date_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
																</tbody></table>
				<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Detail Dok Pembayaran				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Detail Dok Permintaan Dana				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												
{BEGIN details_t_pembayaran_detail}
<div data-itemtype="details_preview" data-itemid="details_preview1" {$item_details_preview1} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_pembayaran_detail}			
							<span>
					{$detailslButtons_t_pembayaran_detail}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_pembayaran_detail}
		</div>
	</div>
</div>
{END details_t_pembayaran_detail}
	
				{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												
{BEGIN details_t_perm_dana_detail_bayar}
<div data-itemtype="details_preview" data-itemid="details_preview2" {$item_details_preview2} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_t_perm_dana_detail_bayar}			
							<span>
					{$detailslButtons_t_perm_dana_detail_bayar}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_t_perm_dana_detail_bayar}
		</div>
	</div>
</div>
{END details_t_perm_dana_detail_bayar}
	
				{END section1_block}
						</div>
				</div>
	</div>
</div>  	
				 
	 
		
					<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
						<tr>
						

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="2"		data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c5}
								</tr>
			</tbody></table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="t_perm_dana_close_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
